
@{
    ViewBag.Title = "Index";
}

<h2 class="page-header">Music Store</h2>


<div class="col-xs-12">
    <div class="center-block">

        <img src="~/Content/Images/home-showcase.png" />
    </div>

</div>
